.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background:#a70101;
  color: white;

  button {
    padding: 10px 16px;
    border: none;
    background: #ff000093;
    color: #000;
    border-radius: 6px;
    cursor: pointer;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 30px;
  align-items: center;
}

.card {
  width: 100%;
  max-width: 500px;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .delete {
    background: #ff0000;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
  }
}
